doctype
html
  head
    title Trello Integration
  body
    .container
      main.trello
        header.trello--header
          h1.trello--headerTitle Trello Integration
        section.trello--content
          form.trello--boardsForm
            .form-group
              label Choose your board
              select.trello--boardsSelect
        footer.trello--footer
